.navholder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    z-index: 99999;
}

.navholder ul {
    list-style: none;

}

.navholder ul li {
    display: inline;
    margin: 0 13px;
    font-size: 21px;
    cursor: pointer;
    color: white;
}

.last-li {
    background-color: #cd30bb;
    padding: 7px;
    border-radius: 13px;
    color: white !important;
}

.navholder a {
    color: white;
}

.fabur {
    position: sticky;
    margin: 10px 10px;
    font-size: 29px;
    top: 10px;

    z-index: 99999;
    color: #cd30bb;
}

@media screen and (max-width:700px) {

    .navholder ul li {

        margin: 0 5px !important;
        font-size: 17px;
        color: black;

    }

    .navholder a {
        color: black;
    }

    .navholder ul li {
        display: block;
        margin: 20px 0 !important;


    }

    .navholder {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 40vh;
        background-color: rgb(255, 255, 255);
        transition: 0.5s ease;
        width: 100% !important;
    }

    .iconma {
        margin: 0 5px !important;
    }

    .belowtxt {

        justify-content: flex-start !important;
    }
}